.chef {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 2%;
    color: var(--color-white);
    min-height: 100vh;

    @media (max-width: 992px) {
        & {
            flex-direction: column;
        }
    }

    .chef__img {
        flex: 1;
        display: flex;
        justify-content: center;
        img {
            width: 75%;
        }
    }

    .chef__info {
        flex: 1;
        margin-top: 40px;

        .chef__content-quote {
            display: flex;
            align-items: flex-end;
            margin: 1rem 0;
            
            img {
                width: 47px;
                height: 40px;
                margin: 0 1rem 1rem 0;
            }

        }
        p {
            font-size: 14px;
            margin-bottom: 1rem;
        }

        .chef__info-name {
            .chef__name {
                font-family: var(--font-alt);
                color: var(--color-golden);
                font-weight: normal;
                margin-bottom: 10px;
                font-size: 17px;
            }

            .chef__job {
                font-family: var(--font-alt);
                font-weight: normal;
                margin-bottom: 10px;
                font-size: 17px;
            }

            img {
                width: 50%;
            }
        }
    }
}